.assessment-area {
  padding: 19px 40px;
}

.addAssessment p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.8;
  margin-bottom: 4px;
}

.display-show {
  border: 1.5px solid #b9b9b9;
  margin-top: 26px;
  position: relative;
}

.title-part h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 25px 0;
  text-align: center;
}

.title-part {
  position: relative;
}

.display-show:after {
  position: absolute;
  top: 69px;
  left: 0;
  width: 100%;
  height: 1.5px;
  content: "";
  background: #b9b9b9;
}

.part-question {
  border-left: 1px solid #000;
  height: 100%;
}

.part-question h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}
