.pagination a {
  font-size: 13px;
  margin: 0 10px;
  display: inline-block;
  padding: 8px;
}

.pagination {
  text-align: center;
  margin: 35px 0;
}

ul.pagination-menu li {
  display: inline-block;
  border: 1px solid #00a63a;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

ul.pagination-menu li.selected {
  background: #00a63a;
  color: #fff;
}
ul.pagination-menu li.next.disabled {
  background: #e0e0e0;
  pointer-events: none;
  border-color: #e0e0e0;
}
ul.pagination-menu li.previous.disabled {
  background: #e0e0e0;
  pointer-events: none;
  border-color: #e0e0e0;
}
