.message-error {
    background: #F5F5F5;
    border-radius: 16px;
    text-align: center;
    margin-top: 16px;
    padding: 50px 0;
}

.message-error h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #D14444;
}

.message-error h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 35px;
}

button.copy-btu {
    background: #49B3FF;
    border-radius: 5px;
    padding: 2px 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}